.casualpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: 75rem;
  padding: auto;
  margin: auto;
}

.title-container {
  display: flex;
  align-self: flex-start;
  background-color: grey;
  border: 3px solid rgb(8, 0, 90);
  border-radius: 8rem;
  text-shadow: 3px 3px 3px black;
}

.title {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: rgb(151, 125, 255);
}

.card-group-container {
  display: flex;
  position: absolute;
  transform: translate(0, 80%);
  height: 40%;
  width: 1060px;
  justify-content: space-between;
}

.card-container {
  display: flex;
  width: 30rem;
}
